---
layout: default
title: BoletoP2P
---
<header>
	<div class="container">
		<div class="column">
			<div>
				<h1 class="editable">Ofeceremos a forma mais fácil de comprar Bitcoin!</h1>
				<p class="editable">Compre bitcoin usando boleto bancário sem burocracia.</p>
				<div class="button">
					<a href="#buy">Compre Agora!</a>
				</div>
			</div>
		</div>
		<div class="column">
			<img src="{{ site.baseurl }}/images/mesh.svg" alt="mesh">
		</div>
	</div>
</header>

<div class="container">
	<h2 class="editable" style="text-align: center;">Por Que Nós?</h2>

	<ul class="thirds">
		<li>
			<div class="image">{% include icons/site.html icon="population" %}</div>
			<h3 class="editable">Você e Eu</h3>
			<p class="editable">Sua privacidade é respeitada, sendo sua negociação comigo apenas comigo, não passando por nenhum intermediário.</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="economy" %}</div>
			<h3 class="editable">Trabalho</h3>
			<p class="editable">Trabalhamos apenas com bitcoin, enviamos para qualquer lugar que as aceite, exchanges ou carteiras.</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="conditions" %}</div>
			<h3 class="editable">Atendimento</h3>
			<p class="editable">Atendimento objetivo, rápido, transparente e seguro, atendendo pelo metodo de contato que você solicitar em qualquer dia ou horário.</p>
		</li>
	</ul>
</div>

<div class="container">
	<div class="columns">
		<div>
			<img src="{{ site.baseurl }}/images/logo.svg" alt="logo">
		</div>
		<div>
			<h2 class="editable">Nossa missão</h2>

			<p class="editable">Tornar acessivel a compra de bitcoin por pessoas desbancarizadas que não conseguem comprar bitcoin pelos meios convencionais, oferecemos a opção de comprar bitcoin usando boleto bancário a um custo muito baixo facilitando assim a vida de quem não pode ou não quer ter uma conta bancária.</p>
		</div>
	</div>
</div>

<div class="container">
	<hr>
	<blockquote>
		<p class="quote editable">Eu sendo um desbancarizado gostei muito do serviço prestado, a boletop2p me ajudou a comprar minhas primeiras frações de bitcoin. Bitcoin é a independência monetária da humanidade!</p>
		<div class="attribute">
			<p class="meta">
				<span class="image"><img class="editable" src="{{ site.baseurl }}/images/anonimo.png" alt="anonimo"></span>
				<span class="author editable"><strong>Anonimo</strong></span>
			</p>
		</div>
	</blockquote>
</div>

<div class="container" id="buy">
	<h2 class="editable">Preencha o formulário abaixo com os dados requisitados que entraremos em contato com você!</h2>
	<div class="buy">
		{{ site.buying_embed }}
	</div>
</div>

<div class="darker">
	<div class="container">
		<h2 class="editable">Algumas Informações Importantes!</h2>
		<p class="editor-link"><a href="boletop2p:collections/_posts" class="btn"><strong>&#9998;</strong> Adicionar Informações</a></p>
		<div class="posts">
			{% for post in site.posts %}
				<div class="post">
					<div class="image" style="background-image: url({{ post.featured_image}})"></div>
					<div class="post-content">
						<p class="date">{{ post.date | date: '%B %d, %Y' }}</p>
						<h3>{{ post.title }}</h3>

						{{ post.content }}
						<p class="editor-link"><a href="boletop2p:collections/{{ post.path }}" class="btn"><strong>&#9998;</strong> Editar Informações</a></p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
